<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<a href="http://localhost:8080/login">Login</a>
<a href="http://localhost:8080/logout">Logout</a>
<a href="http://localhost:8080/admin/">Admin</a>
<a href="http://localhost:8080/user">User</a>
</body>
</html>